* {
  margin: 0;
  box-sizing: border-box;
}

.home > a {
  position: absolute;
  top: 5px;
  left: 5px;
}

h1 {
  text-align: center;
  margin: 20px;
  color: rgb(93, 52, 52);
}

.list {
  display: grid;
  grid-template-columns: 1fr;
}

p {
  text-align: center;
  font-size: 30px;
  padding: 6px 0 6px 0;
}

a,
a:visited {
  color: blue;
}
